<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <!-- Name of this panda -->
  <xacro:arg name="arm_id" default="panda"/> 
  <!-- Should a franka_gripper be mounted at the flange?" -->
  <xacro:arg name="robotiq_gripper" default="true"/>
  <!-- IP address or hostname of the robot" -->
  <xacro:arg name="robot_ip" default=""/>
  <!-- Use fake hardware for testing -->
  <xacro:arg name="use_fake_hardware" default="false"/>
  <!-- Use fake sensor commands for testing -->
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <!-- Positional offset between $(arm_id)_hand -> $(arm_id)_hand_tcp [m]. Only used when hand:=true -->
  <xacro:arg name="tcp_xyz" default="0 0 0.1034" />
  <!-- Rotational offset between $(arm_id)_hand -> $(arm_id)_hand_tcp [rad]. Only used when hand:=true -->
  <xacro:arg name="tcp_rpy" default="0 0 0" />
  <!-- Joint limits for the arm. -->
  <xacro:arg name="joint_limits" default="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}" />
  <!-- Is the robot being simulated in gazebo?" -->
  <xacro:arg name="gazebo" default="false" />
  
  <!-- Robot Arm Description -->
  <xacro:include filename="$(find franka_description)/robots/common/utils.xacro" />
  <xacro:include filename="$(find franka_description)/robots/common/franka_arm.xacro"/>
  <xacro:franka_arm arm_id="$(arg arm_id)" safety_distance="0.03" joint_limits="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}"/>

  <!-- Zed Mini Camera and Mount -->
  <!-- RobotIQ Gripper Description -->
  <xacro:if value="$(arg robotiq_gripper)">
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
    <xacro:robotiq_gripper name="RobotiqGripperHardwareInterface" prefix="" parent="$(arg arm_id)_link8" use_fake_hardware="$(arg use_fake_hardware)" fake_sensor_commands="$(arg fake_sensor_commands)">
	<origin xyz="0 0 0" rpy="0 0 ${radians(0)}" />
    </xacro:robotiq_gripper>
    
    <!-- TCP Pose -->
    <!-- Tip Pose -->

  </xacro:if>

  <!-- ROS 2 Control Tags -->
  <!-- Note: robotiq_gripper xacro contains ROS 2 control tags already -->     
  <xacro:include filename="$(find franka_description)/robots/panda/ros2_control/panda_arm.ros2_control.xacro"/>
  <xacro:panda_arm_ros2_control ns="$(arg arm_id)" robot_ip="$(arg robot_ip)" use_fake_hardware="$(arg use_fake_hardware)" fake_sensor_commands="$(arg fake_sensor_commands)"/>
  <xacro:if value="$(arg robotiq_gripper)">
    <xacro:include filename="$(find franka_description)/robots/panda/ros2_control/panda_robotiq.ros2_control.xacro"/>
    <xacro:robotiq_ros2_control prefix="" name="" use_fake_hardware="$(arg use_fake_hardware)"/>
  </xacro:if>
</robot>
